/*Start of Responsive Web Design*/
* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
  /* border: 1px solid red; */
}



/*End of Responsive Web Design*/

/***Start PSU Banner  ***/
.icon-bar {
  width: 100%;
  height: relative;
  background-color: #1E407C;
  overflow: auto;
}
/***End PSU Banner ***/

/***Start PSU img logo  ***/
.icon-bar img {
  float: left;
  width: 20%;
  text-align: center;
  padding: 0px 0;
  transition: all 0.3s ease;
  color: white;
  font-size: 64px;
}
/***End PSU img logo ***/

/*** Start of text fitting inside box DELETE IF NOT NEEDED ***/
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 20;
}
/*** End of text fitting inside box ***/


/*** Start of page background ***/
body {
  background: #F5F5F5;
  overflow: hidden;
}
/*** End of page background ***/

/*** Start of entire box sizing Pt.1 ***/
html, body {
  font-size: 65%;
}
/*** End of entire box sizing Pt.1 ***/

/*** Start of outer box sizing/positioning Pt.2 ***/
.demo {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50.6rem;
  height: 65rem;
  margin-left: -25.3rem;
  margin-top: -26rem;
  background: #F6F6F5;
  box-shadow: 0 0.9rem 1rem rgba(0, 0, 0, 0.2);
}
/*** End of outer box sizing/positioning Pt.2 ***/

/*** Start of banner of outer box ***/
.demo__header {
  height: 6rem;
  background: #002942;
}
/*** End of banner of outer box ***/

/*** Start of text content within box below img ***/
.demo__content {
  overflow: hidden;
  position: relative;
  height: 57rem;
  padding-top: 1.5rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
/*** End of text content within box below img ***/

/*** Start size of the card content(Green/Orange cards) when car is swiped Pt.1 ***/
.demo__card-cont {
  position: relative;
  width: -webkit-fill-available;
  height: 39rem;
  margin: 0 auto 9rem;
}
/*** End of size of the card content(Green/Orange cards) when car is swiped Pt.1***/

/*** Start size of the Green/Orange swipe interaction sizes Pt.2 ***/
.demo__card {
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 118%;
    transform-style: preserve-3d;
    transition: transform 0.9s;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
}
/***End size of the Green/Orange swipe interaction sizes Pt.2 ***/

.demo__card.reset {
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform: translateX(0) !important;
          transform: translateX(0) !important;
}
.demo__card.reset .demo__card__choice {
  transition: opacity 0.3s;
  opacity: 0 !important;
}
.demo__card.inactive {
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.demo__card.to-left {
  -webkit-transform: translateX(-60rem) rotate(-60deg) !important;
          transform: translateX(-60rem) rotate(-60deg) !important;
}
.demo__card.to-right {
  -webkit-transform: translate(65rem) rotate(65deg) !important;
          transform: translate(65rem) rotate(65deg) !important;
}
.demo__card.below {
  z-index: 1;
}



.demo__card__img {
  overflow: hidden;
  width: 20rem;
  height: 20rem;
  margin: 0 auto 1.5rem;
  border-radius: 50%;
  border: 0.5rem solid #ffffff;
  background-image: url("//s3-us-west-2.amazonaws.com/s.cdpn.io/142996/profile/profile-512_5.jpg");
  background-size: cover;
}

/*** Start of size of box within the outer box that contains image and text field  ***/
.demo__card__btm {
  height: 12.5rem;
  background: #F5F5F5;
}
/*** End of size of box within the outer box that contains image and text field  ***/

.demo__card__we {
  text-align: center;
  font-size: 3.0rem;
  line-height: 4 rem;
  margin: 0 auto;
}
.demo__card__choice {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;

}
.demo__card__choice:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 2rem;
  height: 2rem;
  margin-left: -1rem;
  color: #fff;
  border-radius: 50%;
  box-shadow: -2rem -3rem #fff, 2rem -3rem #fff;
}
.demo__card__choice:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 4rem;
  height: 1.5rem;
  margin-left: -2rem;
  border: 0.6rem solid #fff;
  border-bottom: none;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}
.demo__card__choice.m--reject {
  background: #FF945A;
}
.demo__card__choice.m--like {
  background: #B1DA96;
}
.demo__card__choice.m--like:after {
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
}
.demo__card__drag {
  z-index: 5;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: -webkit-grab;
  cursor: grab;
}
.demo__tip {
  text-align: center;
  font-size: 2.2rem;
  font-family: 'Lobster', helvetica, arial;
}

.demo__tip a {
  text-decoration: none;
  color: #666;
  position: absolute;

   -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), color-stop(50%, rgba(0,0,0,.5)), to(rgba(0,0,0,1)));
}

.demo__tip:after {
  color: #d6d6d6;
  text-shadow: 0 1px 0 white;
}

.topic_img {
  margin:auto;
  width:440px;
  height:350px;
  display:block;
}


.xheartButtons {
  flex: 0 0 100px;
  text-align: center;
  padding-top: 20px;
}

.xheartButtons button {
  border-radius: 50%;
  line-height: 60px;
  width: 60px;
  border: 0;
  background: #FFFFFF;
  display: inline-block;
  margin: 0 8px;
}

.xheartButtons button:focus {
  outline: 1;
}

.xheartButtons i {
  font-size: 32px;
  vertical-align: middle;
}

button.like{
    align: center;
	width: 70px;
	height: 70px;
	margin: 0 auto;
	line-heigth: 20px;
	border-radius: 50%;
	color: #bc204b;
	background-color: #fff;
	border-color: #fff;
	border-width: 2px;
	font-size: 40px;
}

button.dislike{
    align: center;
	width: 70px;
	height: 70px;
	margin: auto 13.5rem;
	line-heigth: 20px;
	border-radius: 50%;
	color: #91959C;
	background-color: #fff;
	border-color: #fff;
	border-width: 2px;
	font-size: 40px;
}

.fa-heart {
  color: #FFACE4;
}

.fa-remove {
  color: #CDD6DD;
  }

@media only screen
and (max-width : 400px)

 {

  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
}

.demo {
   top:45%;
   width: 33.6rem;
   margin-left: -16.9rem;
}

img {
  max-width: 100%;
  height: auto;
}

.topic_img {
  width: 293px;
}

.demo__content {

  height: 57rem;
  padding-top: 3.5rem;

}

.demo__card-cont {
  position: relative;
  width: -webkit-fill-available;
  height: 41rem;
  margin: -14px auto 9rem;
}

.demo__card__btm {

   height: 17.01rem;
}

[class*="col-"] {
  float: left;
  padding: 15px;
  /* border: 1px solid red; */
}

}

