#wrapper {
      width:auto;
      height: auto;
      margin:0 auto;
}

body {margin:0;}

.icon-bar {
  width: 100%;
  height: 100px;
  background-color: #1E407C;
  overflow: auto;
}

.icon-bar img {
  float: left;
  width: 20%;
  text-align: center;
  padding: 0px 0;
  transition: all 0.3s ease;
  color: white;
  font-size: 64px;
}

.icon-bar a:hover {
  background-color: #000;
}

.active {
  background-color: blue;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-size: 62.5%;
}

body {
  background: #F5F5F5;
  overflow: hidden;
}

.demo {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50.6rem;
  height: 54rem;
  margin-left: -25.3rem;
  margin-top: -23rem;
  background: #F6F6F5;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.demo__header {
  height: 6rem;
  background: #002942;
}
.demo__content {
  overflow: hidden;
  position: relative;
  height: 48rem;
  padding-top: 4.5rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.demo__card-cont {
  position: relative;
  width: 44rem;
  height: 32rem;
  margin: 0 auto 5rem;
}
.demo__card {
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
}
.demo__card.reset {
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform: translateX(0) !important;
          transform: translateX(0) !important;
}
.demo__card.reset .demo__card__choice {
  transition: opacity 0.3s;
  opacity: 0 !important;
}
.demo__card.inactive {
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.demo__card.to-left {
  -webkit-transform: translateX(-45rem) rotate(-45deg) !important;
          transform: translateX(-45rem) rotate(-45deg) !important;
}
.demo__card.to-right {
  -webkit-transform: translate(45rem) rotate(45deg) !important;
          transform: translate(45rem) rotate(45deg) !important;
}
.demo__card.below {
  z-index: 1;
}
.demo__card__top {
  height: 20.5rem;
  padding-top: 4rem;
}
.demo__card__top.purple {
  background: #7132B9;
}
.demo__card__top.blue {
  background: #248CB6;
}
.demo__card__top.indigo {
  background: #303F9F;
}
.demo__card__top.cyan {
  background: #26C6DA;
}
.demo__card__top.lime {
  background: #AFB42B;
}
.demo__card__top.brown {
  background: #795548;
}
.demo__card__img {
  overflow: hidden;
  width: 20rem;
  height: 20rem;
  margin: 0 auto 1.5rem;
  border-radius: 50%;
  border: 0.5rem solid #ffffff;
  background-image: url("//s3-us-west-2.amazonaws.com/s.cdpn.io/142996/profile/profile-512_5.jpg");
  background-size: cover;
}
.demo__card__name {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
}
.demo__card__btm {
  height: 7.5rem;
  background: #F5F5F5;
}
.demo__card__we {
  text-align: center;
  font-size: 3.0rem;
  line-height: 4 rem;
  margin: 0 auto;
}
.demo__card__choice {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;

}
.demo__card__choice:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 2rem;
  height: 2rem;
  margin-left: -1rem;
  color: #fff;
  border-radius: 50%;
  box-shadow: -2rem -3rem #fff, 2rem -3rem #fff;
}
.demo__card__choice:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 4rem;
  height: 1.5rem;
  margin-left: -2rem;
  border: 0.6rem solid #fff;
  border-bottom: none;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}
.demo__card__choice.m--reject {
  background: #FF945A;
}
.demo__card__choice.m--like {
  background: #B1DA96;
}
.demo__card__choice.m--like:after {
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
}
.demo__card__drag {
  z-index: 5;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: -webkit-grab;
  cursor: grab;
}
.demo__tip {
  text-align: center;
  font-size: 2.2rem;
  font-family: 'Lobster', helvetica, arial;
}

.demo__tip a {
  text-decoration: none;
  color: #666;
  position: absolute;

   -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), color-stop(50%, rgba(0,0,0,.5)), to(rgba(0,0,0,1)));
}

.demo__tip:after {
  color: #d6d6d6;
  text-shadow: 0 1px 0 white;
}

.topic_img {
  margin:auto;
  width:440px;
  height:350px;
  display:block;
}

.tinder--buttons {
  flex: 0 0 100px;
  text-align: center;
  padding-top: 20px;
}

.tinder--buttons button {
  border-radius: 50%;
  line-height: 60px;
  width: 60px;
  border: 0;
  background: #FFFFFF;
  display: inline-block;
  margin: 0 8px;
}

.tinder--buttons button:focus {
  outline: 1;
}

.tinder--buttons i {
  font-size: 32px;
  vertical-align: middle;
}

button.like{
    align: center;
	width: 70px;
	height: 70px;
	margin: 0 auto;
	line-heigth: 20px;
	border-radius: 50%;
	color: #bc204b;
	background-color: #fff;
	border-color: #fff;
	border-width: 2px;
	font-size: 40px;
}

button.dislike{
    align: center;
	width: 70px;
	height: 70px;
	margin: auto 13.5rem;
	line-heigth: 20px;
	border-radius: 50%;
	color: #91959C;
	background-color: #fff;
	border-color: #fff;
	border-width: 2px;
	font-size: 40px;
}

.fa-heart {
  color: #FFACE4;
}

.fa-remove {
  color: #CDD6DD;
  }